.modal.modal-style-2 {
  .modal-dialog {
    max-width: 500px;
    .modal-content {
      border-radius: 0;
      form.modal-body {
        .btn.close-modal-btn {
          @include close_modal_btn();
          margin-bottom: 20px;
        }
        .form-title {
          color: $color-black;
          font-weight: 600;
          font-size: 28px;
        }
        .form-text {
          font-size: 20px;
          font-weight: 300;
          color: $color-black;
        }
      }
    }
  }
}

@include media-breakpoint-md {
  .modal.modal-style-2 {
    .modal-dialog {
      max-width: 100%;
    }
  }
}
