.alert.alert-1 {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 20;
  border-radius: 0;
  margin: 0;
  @include transition(all 1s ease-in-out);
  &.show {
    top: 0;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  .alert__message {
    font-size: 18px;
    font-weight: 500;
    color: $color-black;
    width: 95%;
  }

  .alert__btn {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-black;
    border-radius: 50%;
    svg {
      color: $color-black;
      width: 24px;
      height: 24px;
    }
  }

  &.success {
    background: rgba(green, 0.8);
  }

  &.error {
    background: rgba(red, 0.8);
  }

  &.warning {
    background: rgba(orange, 0.8);
  }
}
