header {
    #desktop_header {
        // header part one
        #header_part_one {
            background: $color-black;
            padding: 8px;
            display: flex;
            justify-content: center;
            .header-one-link {
                color: $color-white;
                font-size: 12px;
                font-weight: 600;
                &:not(:last-child) {
                    border-#{$end-direction}: 2px solid $color-grey-1;
                    padding-#{$end-direction}: 33px;
                }
                &:not(:first-child) {
                    padding-#{$start-direction}: 33px;
                }
            }
        }
        // end header part one
        // header part two
        #header_part_two {
            padding: 24px 20px;
            border-bottom: 1px solid $color-grey-7;
            .quick-access-links-container {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .pages-links {
                    display: flex;
                    align-items: center;
                    margin-#{$end-direction}: 19px;
                    .quick-access-link {
                        font-size: 15px;
                        font-weight: 400;
                        color: $color-grey-2;
                        text-decoration: underline;
                        &.active {
                            color: $color-black;
                        }
                        &:not(:last-child) {
                            border-#{$end-direction}: 1px solid $color-black;
                            padding-#{$end-direction}: 10px;
                            margin-#{$end-direction}: 10px;
                        }
                    }
                }
                .country-btn {
                    padding: 0;
                    width: 21px;
                    height: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .main-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                #desktop_search_form {
                    .input-container {
                        position: relative;
                        input {
                            border: 1px solid $color-grey-3;
                            color: $color-grey-4;
                            font-size: 15px;
                            font-weight: 400;
                            border-radius: 5px;
                            padding: 9px 35px 9px 20px;
                            min-width: 370px;
                            &::placeholder {
                                color: $color-grey-4;
                                font-size: 15px;
                                font-weight: 400;
                            }
                            &:focus {
                                @include boxShadow(none);
                            }
                        }
                        .search-icon {
                            color: $color-grey-5;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            top: 50%;
                            @include transform(translateY(-50% * $transform-direction));
                            #{$end-direction}: 20px;
                        }
                    }
                }
                .desktop-logo-container {
                    width: 280px;
                    height: 100px;
                    position: relative;
                    #{$start-direction}: 6%;
                    @include transform(translateX(-50% * $transform-direction));
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .desktop-icons-container {
                    display: flex;
                    align-items: center;
                    .icon-container {
                        position: relative;
                        &:not(:last-child) {
                            margin-#{$end-direction}: 52px;
                        }
                        .icon-btn {
                            padding: 0;
                            display: flex;
                            align-items: center;
                            .icon {
                                width: 25px;
                                height: 25px;
                                position: relative;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    bottom: -9px;
                                    height: 3px;
                                    width: 100%;
                                    background: $color-black;
                                    display: none;
                                }
                                svg {
                                    width: 100%;
                                    height: 100%;
                                    color: $color-black;
                                }
                            }
                            .items-count {
                                color: $color-black;
                                font-size: 15px;
                                font-weight: 400;
                                margin-#{$start-direction}: 6px;
                            }
                            &:hover {
                                .icon::after {
                                    display: block;
                                }
                            }
                            &.active {
                                .icon::after {
                                    display: block;
                                }
                            }
                        }
                        .items-dropdown {
                            z-index: 10;
                            border: 1px solid $color-grey-6;
                            @include boxShadow(2px 2px 1px rgba($color-black, 0.25));
                            background: $color-white;
                            min-width: 400px;
                            max-height: 551px;
                            padding: 32px 40px;
                            position: absolute;
                            #{$end-direction}: 0;
                            top: 50px;
                            .items-container {
                                max-height: calc(551px - 92px);
                                overflow: auto;
                                &::-webkit-scrollbar {
                                    width: 0px;
                                    background: transparent;
                                    display: none;
                                }
                                .item {
                                    display: flex;
                                    align-items: flex-start;
                                    border-bottom: 2px solid rgba($color-black, 0.16);
                                    padding-bottom: 25px;
                                    margin-bottom: 25px;
                                    .item-img-container {
                                        width: 100px;
                                        height: 100px;
                                        margin-#{$end-direction}: 13px;
                                        flex-shrink: 0;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                    .item-details-container {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        width: 100%;
                                        height: 100%;
                                        .item-text-container {
                                            margin-bottom: 32px;
                                            .item-title,
                                            .item-quantity {
                                                font-size: 10px;
                                                color: $color-black;
                                                margin-bottom: 4px;
                                            }
                                            .item-quantity {
                                                margin-bottom: 0;
                                            }
                                        }
                                        .price-btn-container {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            .item-price {
                                                font-size: 10px;
                                                color: $color-black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // end header part two        
        // header part three
        #header_part_three {
            padding: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            .header-three-items-container {
                display: flex;
                align-items: center;
                justify-content: center;
                justify-content: space-around;
                width: 100%;
                margin: 0;
                padding: 0;
                position: relative;
                .header-three-item {
                    list-style: none;
                    position: static;
                    .item-text {
                        cursor: pointer;
                        font-size: 15px;
                        color: $color-black;
                        font-weight: 500;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            #{$start-direction}: 0;
                            height: 1px;
                            width: 100%;
                            background: $color-black;
                            bottom: -4px;
                            display: none;
                        }
                        &:hover,
                        &.active {
                            color: $color-purple;
                            &::after {
                                display: block;
                                background: $color-purple;
                            }
                        }
                    }
                    .header-three-dropdown {
                        background: $color-white;
                        z-index: 10;
                        border: 1px solid $color-grey-6;
                        padding: 24px 28px;
                        position: absolute;
                        #{$start-direction}: 50%;
                        @include transform(translateX(-50% * $transform-direction));
                        top: 35px;
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .dropdown-links-container {
                            .link {
                                display: block;
                                color: $color-black;
                                font-size: 15px;
                                font-weight: 400;
                                position: relative;
                                width: fit-content;
                                &:not(:last-child) {
                                    margin-bottom: 14px;
                                }
                                &:last-child {
                                    text-decoration: underline;
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    height: 1px;
                                    width: 100%;
                                    #{$start-direction}: 0;
                                    bottom: 0px;
                                    background: $color-black;
                                    width: 0;
                                    @include transition(all .2s ease-in-out);
                                }
                                &:not(:last-child):hover::after {
                                    width: 100%;
                                }
                            }
                        }
                        .dropdown-imgs-links-container {
                            display: flex;
                            align-items: center;
                            .img-link {
                                width: 335px;
                                height: 400px;
                                &:not(:last-child) {
                                    margin-#{$end-direction}: 10px;
                                }
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
        // end header part three
    }
}