.btn.btn-style-1 {
    color: black;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid $color-black;
    padding: 6px 19px;
    border-radius: 0;
    @include transition(all .2s ease-in-out);
    width: fit-content;
    &.bg-black {
        background: $color-black;
        color: $color-white;
    }
    &.hover-effect {
        &:hover {
            background: $color-black;
            color: $color-white;
        }
        &.bg-black {
            &:hover {
                background: $color-white;
                color: $color-black;
            }
        }
    }
    &.border-light {
        border-color: $color-grey-19 !important;
        &:hover {
            border-color: $color-grey-19 !important;
        }
    }
}

@include media-breakpoint-md {
    .btn.btn-style-1 {
        font-size: 12px;
    }
}