.btn.btn-style-6 {
  display: block;
  background: $color-white;
  color: $color-black;
  font-size: 15px;
  padding: 19px 32px;
  border-radius: 0;
}

@include media-breakpoint-md {
  .btn.btn-style-6 {
    padding: 12px;
    font-size: 13px;
  }
}
