#address_and_payment_page {
    .section-title {
        font-size: 30px;
        font-weight: 500;
        color: $color-black;
        margin-bottom: 21px;
    }
    .section-box {
        border: 1px solid $color-grey-19;
        background: $color-grey-21;
        padding: 35px 60px;
    }
    #shipping_details_container {
        .shipping-details-title {
            font-size: 25px;
            font-weight: 500;
            color: $color-black;
            border-bottom: 2px solid rgba($color-black, 16%);
            padding-bottom: 21px;
            margin-bottom: 30px;
        }
        .detail-info {
            font-size: 12px;
            font-weight: 400;
            color: $color-grey-13;
            &:not(:last-child) {
                margin-bottom: 13px;
            }
        }
        .btns-container {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn {
                width: 35% !important;
            }
        }
    }
}