#cutomizable_gifts_page {
  .page-block:not(:last-child) {
    margin-bottom: 30px;
  }
  .page-block.icons-container {
    .block-header {
      display: flex;
      align-items: center;
      .block-title {
        margin-#{$end-direction}: 16px;
      }
      .form-check {
        padding-bottom: 14px;
      }
    }
  }
  .block-title {
    font-size: 25px;
    font-weight: 600;
    color: $color-black;
    margin-bottom: 18px;
  }

  .shapes-block {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 14px;
    .shape {
      padding: 0;
      label {
        border: 2px solid $color-grey-8;
        padding: 4px 12px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition(all 0.2s ease-in-out);
      }
      &:hover,
      &.checked {
        label {
          background: rgba($color-grey-8, 40%);
          border-color: $color-black;
        }
      }
    }
  }

  .icons-block {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 20px;
    svg {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .text-block {
    .text-block-input-container {
      position: relative;
      margin: 0;
      display: flex;
      align-items: center;
      input {
        border: 2px solid $color-grey-8;
        margin-#{$end-direction}: 8px;
        width: 90%;
        @include transition(all 0.2s ease-in-out);
        font-size: 12px;
        &::placeholder {
          color: $color-grey-26;
        }
        &:focus {
          @include boxShadow(none);
          border-color: $color-black;
        }
      }
      .sp-replacer.sp-light {
        width: 10%;
        padding: 0;
        border: 2px solid $color-grey-8;
        height: 100%;
        .sp-preview {
          width: 100%;
        }
        .sp-dd {
          display: none;
        }
      }
      small.form-text {
        font-size: 13px;
        position: absolute;
        top: -25px;
        #{$end-direction}: calc(10% + 8px);
      }
    }
  }

  #shape {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    padding: 60px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0.19);
    overflow: hidden;
    .shape-figure__container {
      width: 80%;
      height: 80%;
      overflow: hidden;
      position: relative;
      #shape_figure {
        z-index: 10;
        width: 100%;
        height: 100%;
        background-image: url("../../images/gifts/marbles/18-karat.png");
        background-clip: border-box;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: content-box;
      }
      .shape__marble-image {
        z-index: -1;
        width: 100%;
        height: 100%;
      }
    }

    .shape__content {
      position: absolute;
      top: 50%;
      #{$start-direction}: 50%;
      transform: translate(-50%, -50%);

      &.shape-text {
        font-size: 26px;
        font-weight: 600;
        z-index: 10;
        // text-shadow: -1px -1px 1px #000;
        // text-shadow: 2px 5px 5px rgba(255, 255, 255, 0.3);
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
          0px -1px 0px rgba(0, 0, 0, 0.7);
      }
    }
  }

  .page-btn {
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    padding: 0;
    border: 0;
    outline: none;
    z-index: 10;
    svg {
      color: $color-black;
      width: 60px;
      height: 60px;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      background-color: $color-black;
      svg {
        color: $color-white;
      }
    }

    &.move-btn {
      position: absolute;
      &.up {
        top: 2px;
      }
      &.right {
        right: 20px;
      }
      &.down {
        bottom: 2px;
      }
      &.left {
        left: 20px;
      }
    }
  }
}
